<!DOCTYPE html>
<html>
<head>
<title>Class {{ sunday_school_class.name }}</title>
<link href="{{ STATIC_URL }}core/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
    <h4 class="text-center">Sunday School Class {{ sunday_school_class.name }}</h3>
    <table class="table">
        <tr>
            <th nowrap>Name</th>
            <th nowrap>DOB</th>
            <th nowrap>School Year</th>
            <th nowrap>Phone</th>
            <th nowrap>Father</th>
            <th nowrap>Father Mobile</th>
            <th nowrap>Father Email</th>
            <th nowrap>Mother</th>
            <th nowrap>Mother Mobile</th>
            <th nowrap>Mother Email</th>
            <th nowrap>Address</th>
        </tr>
        {% for child in children %}
            {% with parents=child.child_parents %}
                <tr>
                <td nowrap>{{ child.name }}</td>
                <td nowrap>{{ child.dob }}</td>
                <td nowrap>{{ child.school_year }}</td>
                <td nowrap>{{ parents.phone }}</td>
                <td nowrap>{{ parents.father_name }}</td>
                <td nowrap>{{ parents.father_mobile }}</td>
                <td nowrap>{{ parents.father_email }}</td>
                <td nowrap>{{ parents.mother_name }}</td>
                <td nowrap>{{ parents.mother_mobile }}</td>
                <td nowrap>{{ parents.mother_email }}</td>
                <td nowrap>{{ parents.address }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
    </table>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>